In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv(r"C:\Users\Siddhant\Downloads\New_merged_data.csv")

In [3]:
df2 = pd.read_csv(r"C:\Users\Siddhant\Downloads\Zip+4 - Census Crosswalk\zip_to_blockgrp.csv")

# 1. Explore df1

In [4]:
df1.head()

,vin,zipcode,make,model,my,purchase_date,Combination MPG,1st Test Date,2nd Test Date,1st Odometer,2nd Odometer,Date Difference (Days),Odometer Difference
0,WBAEV33452KL68783,60655,BMW,3 Series,2002,5/1/2021,21,2020-06-01,NaN,125000,NaN,NaN,NaN
1,1GBFG15R6Y1100200,60632,CHEV,Express Cargo,2000,5/21/2017,No data found,2020-06-01,2024-03-26,206000,213000.0,1394.0,7000.0
2,1GCDT136548185796,60501,CHEV,Colorado,2004,6/18/2013,18,2020-06-01,2020-06-04,109000,109000.0,3.0,0.0
3,2GKALMEK0C6364495,60453,GMC,Terrain,2012,4/26/2018,20,2020-06-01,2024-05-03,80000,100000.0,1432.0,20000.0
4,1HGCG1652YA094701,60459,HOND,Accord,2000,7/19/2014,23,2020-06-01,NaN,167000,NaN,NaN,NaN

In [5]:
df1.isnull().sum()

vin                             0
zipcode                         0
make                            0
model                           0
my                              0
purchase_date                   0
Combination MPG              1294
1st Test Date                   0
2nd Test Date             2718298
1st Odometer                    0
2nd Odometer              2718298
Date Difference (Days)    2718298
Odometer Difference       2718298
dtype: int64

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5195673 entries, 0 to 5195672
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   vin                     object
 1   zipcode                 int64
 2   make                    object
 3   model                   object
 4   my                      int64
 5   purchase_date           object
 6   Combination MPG         object
 7   1st Test Date           object
 8   2nd Test Date           object
 9   1st Odometer            int64
 10  2nd Odometer            float64
 11  Date Difference (Days)  float64
 12  Odometer Difference     float64
dtypes: float64(3), int64(3), object(7)
memory usage: 515.3+ MB

# 2. Create column 'Fuel Used'

In [25]:
df1['Combination MPG'] = pd.to_numeric(df1['Combination MPG'], errors='coerce')

In [26]:
df1['Fuel Used'] = df1['Odometer Difference'] / df1['Combination MPG']

In [27]:
df1[['Combination MPG', 'Odometer Difference', 'Fuel Used']].head()

   Combination MPG  Odometer Difference  Fuel Used
0             21.0                  NaN        NaN
1              NaN               7000.0        NaN
2             18.0                  0.0        0.0
3             20.0              20000.0     1000.0
4             23.0                  NaN        NaN

In [28]:
df1['Fuel Used'].isna().sum()

np.int64(2931452)

# 3. Save the file

In [29]:
df1.to_csv('E:\IIT Chicago\Sem 4\Data Science Practicum - CSP-572\Datasets\Odometer Data\complete_dataset.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\Siddhant\AppData\Local\Temp\ipykernel_11056\2554184402.py:1: SyntaxWarning: invalid escape sequence '\I'
  df1.to_csv('E:\IIT Chicago\Sem 4\Data Science Practicum - CSP-572\Datasets\Odometer Data\complete_dataset.csv', index=False)