In [1]:
import pandas as pd

# Original Dataset

In [2]:
df1 = pd.read_csv(r"E:\IIT Chicago\Sem 4\Data Science Practicum - CSP-572\Datasets\Odometer Data\complete_dataset.csv")

In [10]:
df1.head()

,vin,zipcode,make,model,my,purchase_date,Combination MPG,1st Test Date,2nd Test Date,1st Odometer,2nd Odometer,Date Difference (Days),Odometer Difference,blkgrp,Fuel Used
0,WBAEV33452KL68783,60655,BMW,3 Series,2002,5/1/2021,21.0,2020-06-01,NaN,125000,NaN,NaN,NaN,1.703172e+11,NaN
1,1GBFG15R6Y1100200,60632,CHEV,Express Cargo,2000,5/21/2017,NaN,2020-06-01,2024-03-26,206000,213000.0,1394.0,7000.0,1.703157e+11,NaN
2,1GCDT136548185796,60501,CHEV,Colorado,2004,6/18/2013,18.0,2020-06-01,2020-06-04,109000,109000.0,3.0,0.0,1.703182e+11,0.0
3,2GKALMEK0C6364495,60453,GMC,Terrain,2012,4/26/2018,20.0,2020-06-01,2024-05-03,80000,100000.0,1432.0,20000.0,1.703182e+11,1000.0
4,1HGCG1652YA094701,60459,HOND,Accord,2000,7/19/2014,23.0,2020-06-01,NaN,167000,NaN,NaN,NaN,1.703182e+11,NaN

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5195673 entries, 0 to 5195672
Data columns (total 15 columns):
 #   Column                  Dtype
---  ------                  -----
 0   vin                     object
 1   zipcode                 int64
 2   make                    object
 3   model                   object
 4   my                      int64
 5   purchase_date           object
 6   Combination MPG         float64
 7   1st Test Date           object
 8   2nd Test Date           object
 9   1st Odometer            int64
 10  2nd Odometer            float64
 11  Date Difference (Days)  float64
 12  Odometer Difference     float64
 13  blkgrp                  float64
 14  Fuel Used               float64
dtypes: float64(6), int64(3), object(6)
memory usage: 594.6+ MB

# PART 1

# Dataset with model of car and it's fuel type

In [4]:
df2 = pd.read_csv(r'c:\Users\Siddhant\Downloads\VIN_FuelType_Processed_Optimized.csv')

In [5]:
df2.head()

           model                vin Fuel_Type
0       3 Series  WBAET37493NJ33416  Gasoline
1  Express Cargo  1GCWGFBA0D1114031  Gasoline
2       Colorado  1GCCS14E278106951  Gasoline
3        Terrain  2GKFLXEK6F6419446  Gasoline
4         Accord  1HGCS1B89BA004143  Gasoline

In [6]:
df2.isnull().sum()

model          0
vin          136
Fuel_Type    136
dtype: int64

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1434 entries, 0 to 1433
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   model      1434 non-null   object
 1   vin        1298 non-null   object
 2   Fuel_Type  1298 non-null   object
dtypes: object(3)
memory usage: 33.7+ KB

In [15]:
df2['Fuel_Type'].value_counts()

Fuel_Type
Gasoline                       1218
Electric                         30
Flexible Fuel Vehicle (FFV)      26
Diesel                           17
Not Applicable                    4
Ethanol (E85)                     3
Name: count, dtype: int64

# Merge the datasets

In [12]:
df1 = df1.merge(df2[['model', 'Fuel_Type']], on='model', how='left')

In [13]:
df1.head()

,vin,zipcode,make,model,my,purchase_date,Combination MPG,1st Test Date,2nd Test Date,1st Odometer,2nd Odometer,Date Difference (Days),Odometer Difference,blkgrp,Fuel Used,Fuel_Type
0,WBAEV33452KL68783,60655,BMW,3 Series,2002,5/1/2021,21.0,2020-06-01,NaN,125000,NaN,NaN,NaN,1.703172e+11,NaN,Gasoline
1,1GBFG15R6Y1100200,60632,CHEV,Express Cargo,2000,5/21/2017,NaN,2020-06-01,2024-03-26,206000,213000.0,1394.0,7000.0,1.703157e+11,NaN,Gasoline
2,1GCDT136548185796,60501,CHEV,Colorado,2004,6/18/2013,18.0,2020-06-01,2020-06-04,109000,109000.0,3.0,0.0,1.703182e+11,0.0,Gasoline
3,2GKALMEK0C6364495,60453,GMC,Terrain,2012,4/26/2018,20.0,2020-06-01,2024-05-03,80000,100000.0,1432.0,20000.0,1.703182e+11,1000.0,Gasoline
4,1HGCG1652YA094701,60459,HOND,Accord,2000,7/19/2014,23.0,2020-06-01,NaN,167000,NaN,NaN,NaN,1.703182e+11,NaN,Gasoline

In [14]:
df1['Fuel_Type'].unique()

array(['Gasoline', 'Flexible Fuel Vehicle (FFV)', nan, 'Electric',
       'Ethanol (E85)', 'Diesel', 'Not Applicable'], dtype=object)

In [16]:
df1['Fuel_Type'].value_counts()

Fuel_Type
Gasoline                       4889313
Flexible Fuel Vehicle (FFV)     287301
Electric                          7486
Ethanol (E85)                     2025
Diesel                             400
Not Applicable                       4
Name: count, dtype: int64

In [ ]:
df1 = df1.rename(columns={'Odometer Difference': 'VMT'})

# PART 2

# Add Emission column using calculations

In [24]:
import numpy as np

# Function to calculate emissions based on fuel type and VMT
def calculate_emission(row):
    fuel_type = row['Fuel_Type']
    vmt = row['VMT']
    mpg = row['Combination MPG']

    # Handle cases where VMT or Fuel_Type is NaN
    if pd.isna(vmt) or pd.isna(fuel_type):
        return np.nan

    # Calculate emissions for Gasoline
    if fuel_type == 'Gasoline':
        if pd.isna(mpg):
            return np.nan
        # Gasoline emission calculation
        emission = 8.89e-3 * vmt * (1 / mpg) * (1 / 0.994)

    # Calculate emissions for Diesel
    elif fuel_type == 'Diesel':
        if pd.isna(mpg):
            return np.nan
        # Diesel emission calculation
        emission = 10.180e-3 * vmt * (1 / mpg) * (1 / 0.994)

    # Calculate emissions for Electric
    elif fuel_type == 'Electric':
        # Electric emission calculation
        emission = 823.1 * vmt * (1 / 3.60) * (1 / 1000) * (1 / 2204.6)

    # For other fuel types, return NaN
    else:
        return np.nan

    return emission

In [25]:
# Apply the function to each row and create the 'emissions' column
df1['emissions'] = df1.apply(calculate_emission, axis=1)

In [26]:
df1.head()

,vin,zipcode,make,model,my,purchase_date,Combination MPG,1st Test Date,2nd Test Date,1st Odometer,2nd Odometer,Date Difference (Days),VMT,blkgrp,Fuel Used,Fuel_Type,emissions
0,WBAEV33452KL68783,60655,BMW,3 Series,2002,5/1/2021,21.0,2020-06-01,NaN,125000,NaN,NaN,NaN,1.703172e+11,NaN,Gasoline,NaN
1,1GBFG15R6Y1100200,60632,CHEV,Express Cargo,2000,5/21/2017,NaN,2020-06-01,2024-03-26,206000,213000.0,1394.0,7000.0,1.703157e+11,NaN,Gasoline,NaN
2,1GCDT136548185796,60501,CHEV,Colorado,2004,6/18/2013,18.0,2020-06-01,2020-06-04,109000,109000.0,3.0,0.0,1.703182e+11,0.0,Gasoline,0.000000
3,2GKALMEK0C6364495,60453,GMC,Terrain,2012,4/26/2018,20.0,2020-06-01,2024-05-03,80000,100000.0,1432.0,20000.0,1.703182e+11,1000.0,Gasoline,8.943662
4,1HGCG1652YA094701,60459,HOND,Accord,2000,7/19/2014,23.0,2020-06-01,NaN,167000,NaN,NaN,NaN,1.703182e+11,NaN,Gasoline,NaN

In [27]:
df1.isnull().sum()

vin                             0
zipcode                         0
make                            0
model                           0
my                              0
purchase_date                   0
Combination MPG            439998
1st Test Date                   0
2nd Test Date             2718298
1st Odometer                    0
2nd Odometer              2718298
Date Difference (Days)    2718298
VMT                       2718298
blkgrp                      55114
Fuel Used                 2931452
Fuel_Type                    9144
emissions                 3054818
dtype: int64

In [29]:
df1.shape

(5195673, 17)

# Save the dataset

In [ ]:
df1.to_csv("E:\IIT Chicago\Sem 4\Data Science Practicum - CSP-572\Datasets\Odometer Data\dataset_emissions_demographic.csv", index=False)

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\Siddhant\AppData\Local\Temp\ipykernel_22948\3506111141.py:1: SyntaxWarning: invalid escape sequence '\I'
  df1.to_csv("E:\IIT Chicago\Sem 4\Data Science Practicum - CSP-572\Datasets\Odometer Data\datset_emissions_demographic.csv", index=False)