In [1]:
import pandas as pd

# Part 1 - Dataset

In [5]:
df1 = pd.read_csv(r"E:\IIT Chicago\Sem 4\Data Science Practicum - CSP-572\Datasets\Odometer Data\complete_data_with_mpg.csv")

In [7]:
df1.head()

,vin,zipcode,odometer,test_date,make,model,my,purchase_date,Combination MPG
0,WBAEV33452KL68783,606551055.0,125000,6/1/2020,BMW,3 Series,2002,5/1/2021,21
1,1GBFG15R6Y1100200,606321626.0,206000,6/1/2020,CHEV,Express Cargo,2000,5/21/2017,No data found
2,1GCDT136548185796,605011310.0,109000,6/1/2020,CHEV,Colorado,2004,6/18/2013,18
3,2GKALMEK0C6364495,604534400.0,80000,6/1/2020,GMC,Terrain,2012,4/26/2018,20
4,1HGCG1652YA094701,604591106.0,167000,6/1/2020,HOND,Accord,2000,7/19/2014,23

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8362886 entries, 0 to 8362885
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   vin              object
 1   zipcode          float64
 2   odometer         int64
 3   test_date        object
 4   make             object
 5   model            object
 6   my               int64
 7   purchase_date    object
 8   Combination MPG  object
dtypes: float64(1), int64(2), object(6)
memory usage: 574.2+ MB

In [9]:
df1['zipcode'] = df1['zipcode'].astype('Int64')

In [10]:
df1['zipcode'] = df1['zipcode'].astype('string')

In [11]:
df1.head()

,vin,zipcode,odometer,test_date,make,model,my,purchase_date,Combination MPG
0,WBAEV33452KL68783,606551055,125000,6/1/2020,BMW,3 Series,2002,5/1/2021,21
1,1GBFG15R6Y1100200,606321626,206000,6/1/2020,CHEV,Express Cargo,2000,5/21/2017,No data found
2,1GCDT136548185796,605011310,109000,6/1/2020,CHEV,Colorado,2004,6/18/2013,18
3,2GKALMEK0C6364495,604534400,80000,6/1/2020,GMC,Terrain,2012,4/26/2018,20
4,1HGCG1652YA094701,604591106,167000,6/1/2020,HOND,Accord,2000,7/19/2014,23

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8362886 entries, 0 to 8362885
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   vin              object
 1   zipcode          string
 2   odometer         int64
 3   test_date        object
 4   make             object
 5   model            object
 6   my               int64
 7   purchase_date    object
 8   Combination MPG  object
dtypes: int64(2), object(6), string(1)
memory usage: 574.2+ MB

In [33]:
df1 = df1.drop_duplicates(subset='vin', keep='first')

In [38]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5201215 entries, 0 to 8362884
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   vin              object
 1   zipcode          string
 2   odometer         int64
 3   test_date        object
 4   make             object
 5   model            object
 6   my               int64
 7   purchase_date    object
 8   Combination MPG  object
dtypes: int64(2), object(6), string(1)
memory usage: 396.8+ MB

# Part 2 - Original Odometer Dataset Used to get 9 Digit Zipcode

In [43]:
df2 = pd.read_csv(r"E:\IIT Chicago\Sem 4\Data Science Practicum - CSP-572\Datasets\Odometer Data\dataset_emissions_demographic.csv")

In [45]:
# Rename column
df2.rename(columns={'zipcode': 'zip'}, inplace=True)

In [46]:
df2 = df2.merge(df1[['vin', 'zipcode']], on='vin', how='left')

# Part 3 - Add the block group id column to dataset by matching on 9 digit zipcode

In [52]:
df3 = pd.read_csv(r"C:\Users\Siddhant\Downloads\Zip+4 - Census Crosswalk\zip_to_blockgrp.csv")

In [55]:
df3.head()

,zipcode,gid,geom,zip,plus4,long,lat,from_mapquest,blkgrp,meters_to_zip,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,60608-4867,250917,POINT (-87.6703 41.85492),60608,4867,-87.67030,41.85492,True,1.703131e+11,0.0,NaN,NaN,NaN,NaN,NaN
1,60608-5461,251063,POINT (-87.67036 41.85506),60608,5461,-87.67036,41.85506,True,1.703131e+11,0.0,NaN,NaN,NaN,NaN,NaN
2,60608-5463,251065,POINT (-87.67074 41.85492),60608,5463,-87.67074,41.85492,True,1.703131e+11,0.0,NaN,NaN,NaN,NaN,NaN
3,60477-3791,199176,POINT (-87.77828 41.57682),60477,3791,-87.77828,41.57682,True,1.703183e+11,0.0,NaN,NaN,NaN,NaN,NaN
4,60477-4273,199359,POINT (-87.78108 41.57336),60477,4273,-87.78108,41.57336,True,1.703183e+11,0.0,NaN,NaN,NaN,NaN,NaN

In [56]:
df3['zipcode'] = df3['zipcode'].astype(str).str.replace('-', '', regex=True)

In [57]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341865 entries, 0 to 341864
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   zipcode        341865 non-null  object
 1   gid            341865 non-null  int64
 2   geom           341660 non-null  object
 3   zip            341865 non-null  int64
 4   plus4          341865 non-null  int64
 5   long           341660 non-null  float64
 6   lat            341653 non-null  float64
 7   from_mapquest  341865 non-null  bool
 8   blkgrp         341660 non-null  float64
 9   meters_to_zip  341865 non-null  float64
 10  Unnamed: 10    0 non-null       float64
 11  Unnamed: 11    0 non-null       float64
 12  Unnamed: 12    0 non-null       float64
 13  Unnamed: 13    0 non-null       float64
 14  Unnamed: 14    0 non-null       float64
dtypes: bool(1), float64(9), int64(3), object(2)
memory usage: 36.8+ MB

In [100]:
df3['gid'].nunique()

341865

In [65]:
df3['zipcode'] = df3['zipcode'].astype('Int64')

In [66]:
df3['zipcode'] = df3['zipcode'].astype('string')

In [74]:
df2['zipcode'] = df2['zipcode'].astype('Int64')

In [75]:
df2['zipcode'] = df2['zipcode'].astype('string')

In [108]:
df2 = df2.merge(df3[['blkgrp', 'zipcode']], on='zipcode', how='left')

In [109]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5195673 entries, 0 to 5195672
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   vin                     object
 1   zip                     int64
 2   make                    object
 3   model                   object
 4   my                      int64
 5   purchase_date           object
 6   Combination MPG         float64
 7   1st Test Date           object
 8   2nd Test Date           object
 9   1st Odometer            int64
 10  2nd Odometer            float64
 11  Date Difference (Days)  float64
 12  VMT                     float64
 13  Fuel Used               float64
 14  Fuel_Type               object
 15  zipcode                 string
 16  blkgrp                  float64
dtypes: float64(6), int64(3), object(7), string(1)
memory usage: 673.9+ MB

In [110]:
df2.head()

,vin,zip,make,model,my,purchase_date,Combination MPG,1st Test Date,2nd Test Date,1st Odometer,2nd Odometer,Date Difference (Days),VMT,Fuel Used,Fuel_Type,zipcode,blkgrp
0,WBAEV33452KL68783,60655,BMW,3 Series,2002,5/1/2021,21.0,2020-06-01,NaN,125000,NaN,NaN,NaN,NaN,Gasoline,606551055,1.703172e+11
1,1GBFG15R6Y1100200,60632,CHEV,Express Cargo,2000,5/21/2017,NaN,2020-06-01,2024-03-26,206000,213000.0,1394.0,7000.0,NaN,Gasoline,606321626,1.703158e+11
2,1GCDT136548185796,60501,CHEV,Colorado,2004,6/18/2013,18.0,2020-06-01,2020-06-04,109000,109000.0,3.0,0.0,0.0,Gasoline,605011310,1.703182e+11
3,2GKALMEK0C6364495,60453,GMC,Terrain,2012,4/26/2018,20.0,2020-06-01,2024-05-03,80000,100000.0,1432.0,20000.0,1000.0,Gasoline,604534400,1.703182e+11
4,1HGCG1652YA094701,60459,HOND,Accord,2000,7/19/2014,23.0,2020-06-01,NaN,167000,NaN,NaN,NaN,NaN,Gasoline,604591106,1.703182e+11

In [111]:
df2.isnull().sum()

vin                             0
zip                             0
make                            0
model                           0
my                              0
purchase_date                   0
Combination MPG            439998
1st Test Date                   0
2nd Test Date             2718298
1st Odometer                    0
2nd Odometer              2718298
Date Difference (Days)    2718298
VMT                       2718298
Fuel Used                 2931452
Fuel_Type                    9144
zipcode                       273
blkgrp                    1014717
dtype: int64

In [112]:
df2['blkgrp'].nunique()

6288

# Part 4 - Add demographics data columns

In [114]:
df4 = pd.read_csv(r"C:\Users\Siddhant\Downloads\CBG_data_acs2022.csv")

In [115]:
df4.head()

          geoid  population  households  median_income  housing_units
0  170310101001         461         239        98575.0            256
1  170310101002        1715         856        25474.0           1133
2  170310101003        2108        1227        81917.0           1553
3  170310102011        2412         945        74563.0            945
4  170310102012        1621         578        43314.0            659

In [116]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4002 entries, 0 to 4001
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   geoid          4002 non-null   int64
 1   population     4002 non-null   int64
 2   households     4002 non-null   int64
 3   median_income  3629 non-null   float64
 4   housing_units  4002 non-null   int64
dtypes: float64(1), int64(4)
memory usage: 156.5 KB

In [117]:
df4['geoid'] = df4['geoid'].astype('string')

In [118]:
df4.isnull().sum()

geoid              0
population         0
households         0
median_income    373
housing_units      0
dtype: int64

In [119]:
df4.head()

          geoid  population  households  median_income  housing_units
0  170310101001         461         239        98575.0            256
1  170310101002        1715         856        25474.0           1133
2  170310101003        2108        1227        81917.0           1553
3  170310102011        2412         945        74563.0            945
4  170310102012        1621         578        43314.0            659

In [120]:
df2['blkgrp'] = df2['blkgrp'].fillna(0).astype('int64')

In [121]:
df2['blkgrp'] = df2['blkgrp'].astype('string')

In [122]:
df2.head()

,vin,zip,make,model,my,purchase_date,Combination MPG,1st Test Date,2nd Test Date,1st Odometer,2nd Odometer,Date Difference (Days),VMT,Fuel Used,Fuel_Type,zipcode,blkgrp
0,WBAEV33452KL68783,60655,BMW,3 Series,2002,5/1/2021,21.0,2020-06-01,NaN,125000,NaN,NaN,NaN,NaN,Gasoline,606551055,170317204001
1,1GBFG15R6Y1100200,60632,CHEV,Express Cargo,2000,5/21/2017,NaN,2020-06-01,2024-03-26,206000,213000.0,1394.0,7000.0,NaN,Gasoline,606321626,170315801002
2,1GCDT136548185796,60501,CHEV,Colorado,2004,6/18/2013,18.0,2020-06-01,2020-06-04,109000,109000.0,3.0,0.0,0.0,Gasoline,605011310,170318203004
3,2GKALMEK0C6364495,60453,GMC,Terrain,2012,4/26/2018,20.0,2020-06-01,2024-05-03,80000,100000.0,1432.0,20000.0,1000.0,Gasoline,604534400,170318226013
4,1HGCG1652YA094701,60459,HOND,Accord,2000,7/19/2014,23.0,2020-06-01,NaN,167000,NaN,NaN,NaN,NaN,Gasoline,604591106,170318209013

In [123]:
unique_count = df2['blkgrp'].nunique()

print(f"Number of unique values in 'blkgrp': {unique_count}")

Number of unique values in 'blkgrp': 6289

In [124]:
unique_count = df4['geoid'].nunique()

print(f"Number of unique values in 'geoid': {unique_count}")

Number of unique values in 'geoid': 4002

In [125]:
df_unique = pd.DataFrame(df2['blkgrp'].unique(), columns=['blkgrp'])

common_values_count = df_unique['blkgrp'].isin(df4['geoid']).sum()

print(f"Number of common values: {common_values_count}")

Number of common values: 3993

In [126]:
df2 = df2.merge(df4, left_on='blkgrp', right_on='geoid', how='left')

In [127]:
df2.drop('geoid', axis=1, inplace=True)

In [128]:
df2.head()

,vin,zip,make,model,my,purchase_date,Combination MPG,1st Test Date,2nd Test Date,1st Odometer,...,Date Difference (Days),VMT,Fuel Used,Fuel_Type,zipcode,blkgrp,population,households,median_income,housing_units
0,WBAEV33452KL68783,60655,BMW,3 Series,2002,5/1/2021,21.0,2020-06-01,NaN,125000,...,NaN,NaN,NaN,Gasoline,606551055,170317204001,776.0,291.0,158859.0,309.0
1,1GBFG15R6Y1100200,60632,CHEV,Express Cargo,2000,5/21/2017,NaN,2020-06-01,2024-03-26,206000,...,1394.0,7000.0,NaN,Gasoline,606321626,170315801002,1097.0,422.0,47778.0,494.0
2,1GCDT136548185796,60501,CHEV,Colorado,2004,6/18/2013,18.0,2020-06-01,2020-06-04,109000,...,3.0,0.0,0.0,Gasoline,605011310,170318203004,987.0,307.0,46047.0,366.0
3,2GKALMEK0C6364495,60453,GMC,Terrain,2012,4/26/2018,20.0,2020-06-01,2024-05-03,80000,...,1432.0,20000.0,1000.0,Gasoline,604534400,170318226013,520.0,278.0,61786.0,278.0
4,1HGCG1652YA094701,60459,HOND,Accord,2000,7/19/2014,23.0,2020-06-01,NaN,167000,...,NaN,NaN,NaN,Gasoline,604591106,170318209013,750.0,235.0,91036.0,235.0

In [129]:
df2.isnull().sum()

vin                             0
zip                             0
make                            0
model                           0
my                              0
purchase_date                   0
Combination MPG            439998
1st Test Date                   0
2nd Test Date             2718298
1st Odometer                    0
2nd Odometer              2718298
Date Difference (Days)    2718298
VMT                       2718298
Fuel Used                 2931452
Fuel_Type                    9144
zipcode                       273
blkgrp                          0
population                2960182
households                2960182
median_income             3101037
housing_units             2960182
dtype: int64

# Save the dataset

In [130]:
df2.to_csv("E:\IIT Chicago\Sem 4\Data Science Practicum - CSP-572\Datasets\Odometer Data\dataset_emissions_demographic_corrected.csv", index=False)

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\Siddhant\AppData\Local\Temp\ipykernel_11724\3427242597.py:1: SyntaxWarning: invalid escape sequence '\I'
  df2.to_csv("E:\IIT Chicago\Sem 4\Data Science Practicum - CSP-572\Datasets\Odometer Data\dataset_emissions_demographic_corrected.csv", index=False)